{% extends 'base.html' %}

{% block title %}{{ otdel.name }} | ПГУ им. "Шолом-Алейхема"{% endblock %}

{% block content %}
    <div class="ui container">
        <div class="child-center">
            <div class="otdel-ib cblock">
                <div class="content">
                    <h1 class="ui center aligned header">{{ otdel.name }}</h1>
                    <div class="child-center">
                        <a href="{% url 'security:zhurnal' %}" class="ui primary button massive">СКЗИ</a>
                        <a href="" class="ui primary button massive">ПДн</a>
                    </div>
                    <div class="child-center">
                        <a href="" class="ui primary button massive">ИСПДн</a>
                        <a href="" class="ui primary button massive">Прочее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('a').click(function () {
                $(this).addClass('loading')
            });
        })
    </script>
{% endblock %}