{% extends 'base.html' %}

{% block title %}Запись СКЗИ | ПГУ им. "Шолом-Алейхема"{% endblock %}

{% block content %}
    <div class="ui container">
        <div class="child-center">
            <div class="skzi-form cblock">
                <div class="content">
                    <div class="child-center">
                        <div class="form-container">
                            <h2 class="ui center aligned header">Запись СКЗИ</h2>
                            <form class="ui form error" method="post">
                                {% csrf_token %}
                                <div class="field-block">
                                    <div class="field">
                                        <label>Наименование СКЗИ</label>
                                        <div class="ui selection dropdown">
                                            <input type="hidden" name="name">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">Наименование СКЗИ</div>
                                            <div class="menu">
                                                {% for skzi_name in skzi_names %}
                                                    <div class="item"
                                                         data-value="{{ skzi_name.id }}">{{ skzi_name.type }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <a id="add-skzi-name" style="cursor:pointer;">Добавить</a>
                                    </div>
                                    <div class="field">
                                        <label>Серийный номер</label>
                                        <input type="email" name="email" placeholder="Введите email..."
                                               value="{{ form.email.value|default_if_none:"" }}">
                                    </div>
                                    {% if form.email.errors %}
                                        <div class="ui error message">
                                            {% for error in form.email.errors %}
                                                <p>{{ error|safe }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="field">
                                        <label>Номер экз.</label>
                                        <input type="text" name="last_name" placeholder="Введите фамилию..."
                                               value="{{ form.last_name.value|default_if_none:"" }}">
                                    </div>
                                    {% if form.last_name.errors %}
                                        <div class="ui error message">
                                            {% for error in form.last_name.errors %}
                                                <p>{{ error|safe }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="field-block">
                                    <h3>Отметка о получении</h3>
                                    <div class="field">
                                        <label>От кого</label>
                                        <div class="ui selection dropdown">
                                            <input type="hidden" name="name">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">Сотрудник / Студент</div>
                                            <div class="menu">
                                                {% for person in persons %}
                                                    <div class="item"
                                                         data-value="{{ person.id }}">{{ person.get_fio }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <a href="/admin/Security/person/add/">Добавить</a>
                                    </div>
                                    <div class="field">
                                        <label>Дата и номер</label>
                                        <input type="text" name="first_name" placeholder="Введите имя..."
                                               value="{{ form.first_name.value|default_if_none:"" }}">
                                    </div>
                                    {% if form.first_name.errors %}
                                        <div class="ui error message">
                                            {% for error in form.first_name.errors %}
                                                <p>{{ error|safe }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="field-block">
                                    <h3>Отметка о рассылке</h3>
                                    <div class="field">
                                        <label>Кому</label>
                                        <div class="ui selection dropdown">
                                            <input type="hidden" name="name">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">Сотрудник / Студент</div>
                                            <div class="menu">
                                                {% for person in persons %}
                                                    <div class="item"
                                                         data-value="{{ person.id }}">{{ person.get_fio }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <a href="/admin/Security/person/add/">Добавить</a>
                                    </div>
                                    <div class="field">
                                        <label>Дата и номер сопроводительного письма</label>
                                        <input type="text" name="surname" placeholder="Введите отчество..."
                                               value="{{ form.surname.value|default_if_none:"" }}">
                                    </div>
                                    {% if form.surname.errors %}
                                        <div class="ui error message">
                                            {% for error in form.surname.errors %}
                                                <p>{{ error|safe }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="field">
                                        <label>Дата и номер подтверждения</label>
                                        <input type="text" name="dolzhnost" placeholder="Введите должность..."
                                               value="{{ form.dolzhnost.value|default_if_none:"" }}">
                                    </div>
                                    {% if form.dolzhnost.errors %}
                                        <div class="ui error message">
                                            {% for error in form.dolzhnost.errors %}
                                                <p>{{ error|safe }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="field-block">
                                    <h3>Отметка о возврате</h3>
                                    <div class="field">
                                        <label>Дата и номер сопроводительного письма</label>
                                        <input type="text" name="surname" placeholder="Введите отчество..."
                                               value="{{ form.surname.value|default_if_none:"" }}">
                                    </div>
                                    {% if form.surname.errors %}
                                        <div class="ui error message">
                                            {% for error in form.surname.errors %}
                                                <p>{{ error|safe }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="field">
                                        <label>Дата и номер подтверждения</label>
                                        <input type="text" name="dolzhnost" placeholder="Введите должность..."
                                               value="{{ form.dolzhnost.value|default_if_none:"" }}">
                                    </div>
                                    {% if form.dolzhnost.errors %}
                                        <div class="ui error message">
                                            {% for error in form.dolzhnost.errors %}
                                                <p>{{ error|safe }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="field">
                                    <label>Дата ввода в действие</label>
                                    <div class="ui calendar" id="rangestart">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                {% if form.surname.errors %}
                                    <div class="ui error message">
                                        {% for error in form.surname.errors %}
                                            <p>{{ error|safe }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="field">
                                    <label>Дата вывода из действия</label>
                                    <div class="ui calendar" id="rangestart">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                {% if form.dolzhnost.errors %}
                                    <div class="ui error message">
                                        {% for error in form.dolzhnost.errors %}
                                            <p>{{ error|safe }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="field-block">
                                    <h3>Отметка об уничтожении</h3>
                                    <div class="field">
                                        <label>Дата уничтожения</label>
                                        <input type="text" name="surname" placeholder="Введите отчество..."
                                               value="{{ form.surname.value|default_if_none:"" }}">
                                    </div>
                                    {% if form.surname.errors %}
                                        <div class="ui error message">
                                            {% for error in form.surname.errors %}
                                                <p>{{ error|safe }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="field">
                                        <label>Номер акта уничтожения</label>
                                        <input type="text" name="dolzhnost" placeholder="Введите должность..."
                                               value="{{ form.dolzhnost.value|default_if_none:"" }}">
                                    </div>
                                    {% if form.dolzhnost.errors %}
                                        <div class="ui error message">
                                            {% for error in form.dolzhnost.errors %}
                                                <p>{{ error|safe }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="field">
                                    <label>Примечание</label>
                                    <textarea rows="2"></textarea>
                                </div>
                                <div class="child-center">
                                    <button class="large ui primary button">
                                        Сохранить
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('button').click(function () {
                $(this).addClass('loading')
            });
            $('.selection.dropdown').dropdown()
            $('.ui.calendar').calendar({
                type: 'date', text: {
                    days: ['Вс', "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                    months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                    monthsShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
                    today: 'Сегодня',
                    now: 'Сейчас',
                    am: 'AM',
                    pm: 'PM'
                },
                formatter: {
                    date: function (date, settings) {
                        if (!date) return '';
                        var day = date.getDate() + '';
                        if (day.length < 2) {
                            day = '0' + day;
                        }
                        var month = (date.getMonth() + 1) + '';
                        if (month.length < 2) {
                            month = '0' + month;
                        }
                        var year = date.getFullYear();
                        return day + '.' + month + '.' + year;
                    }
                }
            })
            $('#add-skzi-name').click(function () {
                var url = '/admin/Security/skziname/add/'
                var popup = window.open(url, 'Добавить наименавание СКЗИ', 'width=800, height=600');


                var interval = setInterval(function () {
                    if (!popup.location.href.includes(url)) {
                        popup.close()
                        clearInterval(interval)
                    }
                }, 500)

                popup.onhashchange = function () {
                    alert('aaa')
                }

                popup.onunload = function () {
                    clearInterval(interval)
                }

            })
        })
    </script>
{% endblock %}