{% extends 'base.html' %}
{% load static %}
{% load modified %}

{% block title %}Журнал СКЗИ | ПГУ им. "Шолом-Алейхема"{% endblock %}

{% block content %}
    <div class="ui container full-width">
        <div class="child-center">
            <div class="skzi-list cblock">
                <div class="content">
                    {% csrf_token %}
                    <h1 class="ui center aligned header">Журнал СКЗИ</h1>
                    <div class="panel">
                        <div class="buttons left">
                            <a href="{% url 'skzi:zhurnal_form' %}" class="button primary ui">Добавить</a>
                            <a id="download-word" class="button primary ui">Скачать Word</a>
                            <a id="mini-otchet" class="button primary ui">Мини отчет</a>
                            <a id="archive" class="ui button primary">Добавление в архив</a>
                            <a id="cancel" class="ui button primary hide">Отмена</a>
                        </div>
                        <div class="ui fluid search selection dropdown" data-preselect="{{ fio_cur }}">
                            <input type="hidden" name="fiorassilki">
                            <i class="dropdown icon"></i>
                            <div class="default text">Кому разослан</div>
                            <div class="menu">
                                {% for fio_rassilki in fio_rassilki_list %}
                                    <div class="item" data-value="{{ fio_rassilki.id }}">{{ fio_rassilki }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div id="table-container" class="sixteen wide table-container">
                        <div class="table-width">
                            <table class="ui celled selectable table tableFixHead">
                                <thead>
                                <tr>
                                    <th rowspan="2">№ п/п</th>
                                    <th rowspan="2">Наим. СКЗИ, эксплуатационной и технической документации к ним,
                                        ключевых документов
                                    </th>
                                    <th rowspan="2">Серийные номера СКЗИ, эксплуатационной и технической документации к
                                        ним, номера серий ключевых документов
                                    </th>
                                    <th rowspan="2">Номера экземпляров (криптографические номера) ключевых документов
                                    </th>
                                    <th colspan="2" class="center aligned">Отметка о получении</th>
                                    <th colspan="3" class="center aligned">Отметка о рассылке(передаче)</th>
                                    <th colspan="2" class="center aligned">Отметка о возврате</th>
                                    <th rowspan="2">Дата ввода в действие</th>
                                    <th rowspan="2">Дата вывода из действия</th>
                                    <th colspan="2" class="center aligned">Отметка об уничтожении СКЗИ, ключевых
                                        документов
                                    </th>
                                    <th rowspan="2">Примечание</th>
                                </tr>
                                <tr>
                                    <th>От кого получены или ФИО сотрудника органа криптографической защиты,
                                        изготовившего ключевые документы
                                    </th>
                                    <th>Дата и номер сопроводительного письма или дата изготовления ключевых документов
                                        и расписка в изготовлении
                                    </th>
                                    <th>Кому разосланы (переданы)</th>
                                    <th>Дата и номер сопроводительного письма</th>
                                    <th>Дата и номер подтверждения или расписка в получении</th>
                                    <th>Дата и номер сопроводительного письма</th>
                                    <th>Дата и номер подтверждения</th>
                                    <th>Дата уничтожения</th>
                                    <th>Номер акта или расписка об уничтожении</th>
                                </tr>
                                <tr>
                                    <th class="center aligned">1</th>
                                    <th class="center aligned">2</th>
                                    <th class="center aligned">3</th>
                                    <th class="center aligned">4</th>
                                    <th class="center aligned">5</th>
                                    <th class="center aligned">6</th>
                                    <th class="center aligned">7</th>
                                    <th class="center aligned">8</th>
                                    <th class="center aligned">9</th>
                                    <th class="center aligned">10</th>
                                    <th class="center aligned">11</th>
                                    <th class="center aligned">12</th>
                                    <th class="center aligned">13</th>
                                    <th class="center aligned">14</th>
                                    <th class="center aligned">15</th>
                                    <th class="center aligned">16</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for skzi in skzis %}
                                    <tr data-id="{{ skzi.id }}">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ skzi.name.type }}</td>
                                        <td>{{ skzi.serial_n }}</td>
                                        <td>{{ skzi.ekz_n }}</td>
                                        <td>{{ skzi.from_organ }}</td>
                                        <td>{{ skzi.date_poluch }}, {{ skzi.nomer_poluch }}</td>
                                        <td>{{ skzi.to_person.get_fio }}</td>
                                        <td>{{ skzi.date_sopr }}, {{ skzi.nomer_sopr }}</td>
                                        <td>{% if skzi.date_podtv %}{{ skzi.date_podtv }},
                                            {{ skzi.nomer_podtv }}{% endif %}</td>
                                        <td>{% if skzi.vozvr_date_sopr %}{{ skzi.vozvr_date_sopr }},
                                            {{ skzi.vozvr_nomer_sopr }}{% endif %}</td>
                                        <td>{% if skzi.vozvr_date_podtv %}{{ skzi.vozvr_date_podtv }},
                                            {{ skzi.vozvr_nomer_podtv }}{% endif %}</td>
                                        <td>{{ skzi.date_vvod|default_if_none:'' }}</td>
                                        <td>{{ skzi.date_vivod|default_if_none:'' }}</td>
                                        <td>{{ skzi.date_unichtozh|default_if_none:'' }}</td>
                                        <td>{{ skzi.nomer_acta|default_if_none:'' }}</td>
                                        <td>{{ skzi.primechanie|default_if_none:'' }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/table_sort.js' %}"></script>
    <script type="text/javascript">
        $('.ui.checkbox').checkbox();

        $(document).ready(function () {
            $('table').tablesort()
            var $items
            setupTrClick()

            function setupTrClick() {
                $items = $('table tbody tr');
                $items.click(function () {
                    var id = $(this).attr('data-id')
                    if (archive) {
                        $(this).toggleClass('active')
                    } else {
                        window.location.href = '{% url 'skzi:zhurnal_form' %}' + id + '/'
                    }
                })
            }

            var token = $('input[name=csrfmiddlewaretoken]').val()
            $('.ui.selection.dropdown').dropdown({
                clearable: true,
                onChange: function (value, text, $choice) {
                    var url = '{% url 'skzi:zhurnal' %}' + '?fiorassilki=' + value
                    $.get(url, function (data) {
                        $('#table-container').replaceWith($(data).find('#table-container'))
                        window.history.replaceState(null, null, url)
                        setupTrClick()
                    })
                }
            })
            $('.ui.selection.dropdown').each(function (i) {
                $(this).dropdown('set selected', $(this).attr('data-preselect'))
            })
            $('#download-word').click(function () {
                var url = window.location.href
                if (!url.includes('?'))
                    url += '?'
                url += '&action=download'
                window.location.href = url
            })
            $('#mini-otchet').click(function () {
                var url = window.location.href
                if (!url.includes('?'))
                    url += '?'
                url += '&action=download-mini'
                window.location.href = url
            })
            var archive = false
            $('#archive').click(function () {
                archive = !archive
                if (archive) {
                    $('#cancel').removeClass('hide')
                    $(this).text('Выделенное в архив')
                } else {
                    $(this).text('Добавление в архив')
                    $('#cancel').addClass('hide')
                    var ids = $.map($('tr.active'), function (item) {
                        return $(item).attr('data-id')
                    })
                    $.post(window.location.href, {'csrfmiddlewaretoken': token, 'id': ids.join(',')}, function (data) {
                        $('#table-container').replaceWith($(data).find('#table-container'))
                        setupTrClick()
                    })
                }
            })
            $('#cancel').click(function () {
                $(this).addClass('hide')
                $('#archive').text('Добавление в архив')
                archive = false
                $items.removeClass('active')
            })

        })
    </script>
{% endblock %}