{% extends 'base.html' %}
{% load modified %}
{% load ispdn_extra %}

{% block title %}Выбор ИСПДн | ПГУ им. "Шолом-Алейхема"{% endblock %}

{% block content %}
    <div class="ui container">
        <div class="child-center">
            <div class="ispdn-select cblock">
                <div id="ispdn-list" class="content">
                    <h1 class="ui center aligned header">Выбор ИСПДн</h1>
                    {% for ispdn in ispdns %}
                        <a href="{% iurl 'ispdn:menu' ispdn_id='ispdn.id' %}"
                           class="ui button primary massive">{{ ispdn.name }}</a>
                    {% endfor %}
                    <a href="/admin/Ispdn/ispdn/add/" class="ui button primary massive popup-window"
                       data-block-id="ispdn-list">Добавить</a>
                    <div class="ui form error">
                        <div class="ui error message">
                            <div class="header">Срок ИСПДн истекает</div>
                            <ul class="list">
                                {% for ispdn, td in date_warnings %}
                                    <li>Срок <strong>{{ ispdn.name }}</strong> истекает через <strong>{{ td|get_days }}</strong> дней</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('a:not(.popup-window)').click(function () {
                $(this).addClass('loading')
            });
            $('a.popup-window').click(function () {
                var popup = window.open($(this).attr('href'), 'popup', 'width=800,height=600')
                var block_id = $(this).attr('data-block-id')
                var $block = $('#' + block_id)


                var popupTick = setInterval(function () {
                    if (popup.closed) {
                        clearInterval(popupTick)
                        UpdateBlock($block, block_id)
                    }
                }, 300)

                return false
            })

            function UpdateBlock($block, block_id) {
                window.location.reload()
            }
        })
    </script>
{% endblock %}