.ui.container.full-width {
  width: 100%;
  max-width: 98% !important;
}

.skzi-list {
  width: 100%;
  max-width: 100%;

  .data {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
  }

  .panel {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 10px;

    .buttons {
      float: left;
      position: relative;
      width: auto;

      .ui.form {
        position: relative;
        float: left;
        max-width: 600px;
        width: 100%;
      }

      &.right {
        float: right;
      }
    }
    .ui.search.dropdown{
      float: left;
      position: relative;
      display: block;
      max-width: 250px;
      margin-top: 2px;
      margin-left: 15px;
    }
  }

  .table-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: visible !important;
    font-size: 12px;
    max-height: 60vh;
    padding-right: 17px;

    .table-width {
      max-width: 2000px;

      table {
        thead th {

          position: sticky;
          top: 0;
          white-space: normal !important;
          word-wrap: break-spaces;
          vertical-align: top;
        }
        tbody tr{
          cursor: pointer;
          font-size: 14px;
          .button.download{
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}
