{% extends 'base.html' %}
{% load modified %}

{% block title %}{{ otdel.name }} | ПГУ им. "Шолом-Алейхема"{% endblock %}

{% block content %}
    <div class="ui container">
        <div class="child-center">
            <div class="skzi-list cblock">
                <div class="content">
                    <div class="ui breadcrumb">
                      <a href="{% url 'ispdn:select' %}" class="section">Выбор ИСПДн</a>
                      <div class="divider"> / </div>
                        {% if ispdn %}
                          <a href="{% iurl 'ispdn:menu' ispdn_id='ispdn.id' %}" class="section">{{ ispdn.name }}</a>
                          <div class="divider"> / </div>
                        {% endif %}
                      <div class="active section">Положения</div>
                    </div>
                    <h1 class="ui center aligned header">Положения</h1>
                    <div class="panel">
                        <div class="buttons left">
                            {% if ispdn %}
                                <a href="{% iurl 'ispdn:polozhenie_form' get_source='ispdn.id' %}" class="button primary ui medium">Добавить новый</a>
                                <a href="{% url 'ispdn:polozhenia_all' %}" class="button primary ui medium">Список всех положений</a>
                            {% else %}
                                <a href="{% iurl 'ispdn:polozhenie_form' %}" class="button primary ui medium">Добавить новый</a>
                                {% for ispdn in ispdns %}
                                    <a href="{% iurl 'ispdn:polozhenia' ispdn_id='ispdn.id' %}" class="button primary ui medium">{{ ispdn.name }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="sixteen wide table-container">
                        <div class="table-width">
                            <table class="ui celled selectable sortable table tableFixHead">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Номер</th>
                                    <th>Название</th>
                                    <th>Ответственный</th>
                                    <th class="center aligned">Скачать</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for instance in instances %}
                                    <tr data-id="{{ prikaz.id }}">
                                        <td data-label="#">{{ instances|length|substract:forloop.counter0 }}</td>
                                        <td data-label="Номер">{{ instance.nomer }}</td>
                                        <td data-label="Название">{{ instance.name }}</td>
                                        <td data-label="Ответственный">{{ instance.ovetstv.get_fio }}</td>
                                        <td data-label="Скачать" class="center aligned"><a class="ui button primary tiny download" href="{% iurl 'ispdn:polozhenie_download' id='instance.id' %}">Скачать</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.button:not(.download)').click(function () {
                $(this).addClass('loading')
            });
            $('tbody tr').click(function () {
                var id = $(this).attr('data-id')
                {% if ispdn %}
                    window.location.href = '{% url 'ispdn:polozhenie_form' %}' + id + '/?source={{ ispdn.id }}'
                {% else %}
                    window.location.href = '{% url 'ispdn:polozhenie_form' %}' + id + '/'
                {% endif %}
            })
            $('table').tablesort()
        })
    </script>
{% endblock %}